* {
  margin: 0;
  padding:0;
  box-sizing: border-box ;
}

body {
 
}

.nav{
  display: flex;
  justify-content: space-between ;
  
  background-color :#000;
  
}

.logo img {
  width :50px ;
 
}

.menu-toggle {
display: noe;
}
.menu{
  display: noe;
  border: 1px solid blue ;
}

/*.menu-toggle:checked +.menu{
  display :flex ;
}*/


