* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

header {
  background-color: #000;
  height: 10vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.logo {
  width: 200px;
  height: 100px;
}

.logo img {
  max-width: 100%;
  margin-left: 2rem;
  height: 100%;
  border-radius: 50%;
}

h1 {
  color: #ffe;
  text-align: center;
  font-size: 3.5rem;
  padding-right: 4rem;
}

.hamburguesa {
  font-size: 3rem;
  margin-right: 2rem;
  color: #fff;
}

.menu-toggle {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 10vh);
  font-size: 3rem;
  margin: 0;
  padding: 0;
  background-color: darkred;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #eee;
  text-decoration: none;
}

.menu-toggle:checked + .menu {
  display: flex;
}

/* SLIDER */

.titulo {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}

.slider-box {
  width: 1280px;
  height: auto;
  margin: 50px auto;
  overflow: hidden;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 500%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}

.texto {
  position: absolute;
  text-align: center;
  top: 600px;
  left: 500px;
  color: #ffffff;
}

.texto h2 {
  font-size: 4rem;
  margin-bottom: 35px;
}

.slider-box img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
