/* estilos.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.01rem;
  padding: 10px;
}

header {
  grid-area: header;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: white;
  border-bottom: #f2c200 3px solid;
}

.header-logo {
  max-width: 300px;
  width: 100%;
  height: auto;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header p {
  margin: 0;
  font-size: 0.9rem;
}

.navbar {
  grid-area: nav;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar li {
  padding: 15px 13px 5px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  grid-area: main;
  max-width: 900px;
}

section {
  padding: 2rem;
  border-bottom: 1px solid #ffffff;
}

.main-inicio img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(1, 1, 1, 0.2);
}

article {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

button {
  background-color: #f77f00;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #d65f00;
}

form input,
form textarea {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

footer {
  grid-area: footer;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
